.educationInfo {
  margin: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
}

@media (min-width: 700px) {
  .studyDuration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  .end {
    margin-top: 0;
  }
}
