.userInput {
  border: 1px solid black;
}

.userInput > p {
  margin: 1em;
  font-weight: 600;
  font-size: 1.5em;
}

@media (min-width: 700px) {
  #root {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1em;
  }
}

section {
  padding: 1em;
  border: 1px solid grey;
}

h2 {
  text-align: center;
  margin: 0;
}

label {
  display: grid;
}

.end {
  margin-top: 1em;
}

section > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

section > div > button {
  width: max-content;
  padding: 0.5rem;
  border-radius: 1em;
}